//  _        ___                                      ___ _
// | |      / __)_                                   / __|_)
// | | ____| |__| |_ _ _ _ ____      ____ ___  ____ | |__ _  ____    ____ ___  ____
// | |/ _  )  __)  _) | | |    \    / ___) _ \|  _ \|  __) |/ _  |  / ___) _ \|  _ \
// | ( (/ /| |  | |_| | | | | | |  ( (__| |_| | | | | |  | ( ( | |_| |  | |_| | | | |
// |_|\____)_|   \___)____|_|_|_|   \____)___/|_| |_|_|  |_|\_|| (_)_|   \___/|_| |_|
// A WindowManager for Adventurers                         (____/
// For info about configuration please visit https://github.com/leftwm/leftwm/wiki

#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "1",
        "2",
        "3",
        "4",
    ],
    max_window_width: None,
    layouts: [
        "MainAndVertStack",
        "MainAndHorizontalStack",
        "MainAndDeck",
        "GridHorizontal",
        "EvenHorizontal",
        "EvenVertical",
        "Fibonacci",
        "LeftMain",
        "CenterMain",
        "CenterMainBalanced",
        "CenterMainFluid",
        "Monocle",
        "RightWiderLeftStack",
        "LeftWiderRightStack",
    ],
    layout_mode: Tag,
    insert_behavior: Bottom,
    scratchpad: [
        (name: "Alacritty", value: "alacritty", x: 860, y: 390, height: 300, width: 200),
    ],
    window_rules: [],
    disable_current_tag_swap: false,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    single_window_border: true,
    sloppy_mouse_follows_focus: true,
    auto_derive_workspaces: true,
    keybind: [
        (modifier: [], key: "F11", command: Execute, value: "flameshot gui"),
        (modifier: [], key: "F12", command: Execute, value: "slock"),
        (modifier: ["modkey"], key: "d", command: Execute, value: "discord"),
        (modifier: ["modkey"], key: "f", command: ToggleFullScreen, value: ""),
        (modifier: ["modkey"], key: "m", command: FocusNextTag, value: ""),
        (modifier: ["modkey"], key: "n", command: FocusPreviousTag, value: ""),
        (modifier: ["modkey"], key: "p", command: Execute, value: "pcmanfm"),
        (modifier: ["modkey"], key: "q", command: Execute, value: "qpdfview"),
        (modifier: ["modkey"], key: "s", command: Execute, value: "spotify"),
        (modifier: ["modkey"], key: "t", command: Execute, value: "alacritty"),
        (modifier: ["modkey"], key: "u", command: Execute, value: "dmenu_run"),
        (modifier: ["modkey"], key: "w", command: Execute, value: "brave"),
        (modifier: ["modkey"], key: "z", command: Execute, value: "zotero"),
        (modifier: ["modkey"], key: "Return", command: MoveWindowTop, value: ""),
        (modifier: ["modkey", "Shift"], key: "1", command: MoveToTag, value: "1"),
        (modifier: ["modkey", "Shift"], key: "2", command: MoveToTag, value: "2"),
        (modifier: ["modkey", "Shift"], key: "3", command: MoveToTag, value: "3"),
        (modifier: ["modkey", "Shift"], key: "4", command: MoveToTag, value: "4"),
        (modifier: ["modkey", "Shift"], key: "f", command: ToggleFloating, value: ""),
        (modifier: ["modkey", "Shift"], key: "j", command: MoveWindowDown, value: ""),
        (modifier: ["modkey", "Shift"], key: "k", command: MoveWindowUp, value: ""),
        (modifier: ["modkey", "Shift"], key: "l", command: Execute, value: "slock"),
        (modifier: ["modkey", "Shift"], key: "q", command: CloseWindow, value: ""),
        (modifier: ["modkey", "Shift"], key: "r", command: SoftReload, value: ""),
        (modifier: ["modkey", "Shift"], key: "s", command: Execute, value: "signal-desktop"),
        (modifier: ["modkey", "Shift"], key: "t", command: Execute, value: "telegram-desktop"),
        (modifier: ["modkey", "Shift"], key: "x", command: Execute, value: "loginctl kill-session $XDG_SESSION_ID"),
        (modifier: ["modkey", "Shift"], key: "Escape", command: Execute, value: "poweroff"),
    ],
    state_path: None,
)
